body{
  background-image: url('./Imagens/rpg-de-mesa.png');
}
h1 {
    text-align: center;
    color: aliceblue;
}
h2 {
    text-align: justify;
}
h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}